# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080

# Backend
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
GITHUB_TOKEN=your_github_personal_access_token_here
